<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_URI} !^/build/
    RewriteRule ^(.*)$ /build/$1
    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /index.html [L]
</IfModule>