body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.creator a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
  transition: .2s;
}

a:hover {
  transition: 0.2s;
  opacity: 1;
}

#quote-box {
  background-color: white;
  width: 600px;
  min-height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px 50px 50px;
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgb(0, 0, 0, 20%);
}

.secondaryContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#text {
  font-size: 30px;
  font-weight: 700;
}

#author {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  font-size: 20px;
  font-weight: 300;
}

.twitter-share-button {
  background-color: #1d9bf0;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font: normal normal normal 12px/18px 'Helvetica Neue',Arial,sans-serif;
  text-decoration: none;
  font-size: 24px;
}
.twitter-share-button:hover {
  background-color: #0c7abf;
}
.fa-quote-left {
  font-size: 50px;
  margin: 5px 20px;
}
.fa-twitter {
  font-size: 24px;
}

.new-quote-button {
  font-family: 'Montserrat', sans-serif;
  padding: 9px 15px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(53, 53, 53);
  color: white;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}
.new-quote-button:hover {
  background-color: rgb(0, 0, 0);
  transition: 0.2s;
  cursor: pointer;
}

.creator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  font-size: 16px;
}

.readme-button {
  font-size: 14px;
}